body {
    font-family: 'Open Sans', sans-serif;
    background: #212529;
    font-size: 3em;
    color: #ADB5BD;
}

a {
    text-decoration: none;
}

/*.container {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*}*/

.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    margin-top: 1em;
    text-align: center;
}

.sub-title {
    margin-top: 1em;
    text-align: center;
    font-size: 2rem;
}

.name {
    font-size: 2em;
}

.navigation {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    display: block;
    box-shadow: 0 10px 30px rgb(0 0 0 / 15%), 0 1px 4px rgb(0 0 0 / 15%), 0 1px 0 rgb(0 0 0 / 7%);
    color: #ADB5BD;
    margin: 1em 1em 0em 1em;
}

.nav-item:hover {
    background: #16191c;
}

.cv {

}

